body {
    background-image: url(https://images.unsplash.com/photo-1577124999548-1db893a4b7f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
}
div {
    background-color: mistyrose;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    max-width: 70%;
}
img {
    display:block;
    margin-left:auto;
    margin-right: auto;
}
h1 {
    font-family:monospace;
    font-size: 40px;
    color:rgb(195, 135, 135);
}
h2 {font-family: monospace;
}
h3 {
    font-family:monospace
}
h1, h2 {
    text-align:center;
}
p, ul, ol {font-family: Arial, Helvetica, sans-serif;
}
